<h1>
    <img src="{{flags.png}}" alt="{{name.official}}" width="40" height="40">{{name.official}}
    </h1>
      <p>Capital: {{capital}}</p>
      <p>Population: {{population}}</p>
      <p>Languages: {{languages}}</p>